.App {
  min-width: 300px;
  width: 35%;
  min-height: 95vh;
  margin: 2vh auto;
  border: 1px solid #61DAF7;

  background: #1F1F1F;
  text-align: center;
  color: #DDDDDD;
  word-break: break-all;
}

@media (max-width: 1500px) {
  .App {
    width: 45%;
  }
}

@media (max-width: 1050px) {
  .App {
    width: 57%;
  }
}

@media (max-width: 750px) {
  .App {
    margin: .3rem auto;
    width: 98vw;
  }
}