.addTask {
   border-bottom: 1px solid $blue;
   padding: $xs-size;
}

.addTask__title {
   display: none;
}

.addTask__alert {
   flex-basis: 100%;
   margin: 0 $xs-size $xs-size $xs-size;
   text-align: center;

   @media (min-width: $tablet-breakpoint) {
      margin: $xs-size;
   }
}

.addTask__button {
   flex-basis: 100%;

   @media (min-width: $desktop-breakpoint) {
      flex-basis: 20%;
   }
}