.task {
   margin: $xs-size;
}

.task__text {
   flex-basis: 100%;
   margin: $s-size;
}

.task__buttons {
   @include flexbox(center, space-around);
   margin: $l-size;
}

.task__button {
   flex-basis: 100%;
   font-size: $font-size-m;
}

.task__comment {
   @include flexbox(center, center);
}