.button {
   background-color: $dark;
   border: 1px solid $white;
   border-radius: 5px;
   color: $white;
   cursor: pointer;
   font-size: $font-size-l;
   margin: $xs-size;
   padding: $s-size;
   transition: .3s;

   @media (min-width: $desktop-breakpoint) {
      &:hover {
         border: 1px solid $blue;
         border-radius: 5px;
         color: $blue;
      }
   }
}