* {
  box-sizing: border-box;
}

::selection {
  background: #aaa;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: lighten($dark, 10%);
  word-break: break-all;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader--hide {
  visibility: hidden;
}