* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

div.input,
div.result {
  height: 15vh;
  border: 2px solid black;
  margin: 20px;
}

div.input form {
  height: 100%;
}

div.input input {
  padding: 10px 20px;
  border: 2px solid black;
}

div.input i {
  padding-left: 15px;
  font-size: 30px;
}

div.result {
  height: 45vh;
  line-height: 5vh;
}

div.result .tasksToDo {
  max-height: 50%;
  overflow: auto;
}

div.result li {
  list-style: none;
  font-size: 25px;
}

div.result i {
  padding-left: 5px;
}